$colors: (
    soft-blue: hsl(231, 69%, 60%),
    soft-red: hsl(0, 94%, 66%),
    grayish-blue: hsl(229, 8%, 60%),
    very-dark-blue: hsl(229, 31%, 21%),
    dark-green: hsl(168, 75%, 27%)
);

$breakpoints: (
    sm: "768px",
    md: "991px",
    lg: "1280px"
);